body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-canvas {
  border: solid black 1px;
  background-color: skyblue;
}

button {
  height: fit-content;
  margin: 25px;
  border-radius: 25px;
  height: 50px;
  width: 175px;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
button span {
  font-size: xx-large;
  padding-bottom: 5px;
}
button#importGame {
  background-color: dodgerblue;
}
button#exportGame {
  background-color: lawngreen;
}